{
  "branches": "main",
  "repositoryUrl": "https://github.com/gabrielqvenancio/Os-Ultimos-Cavaleiros",
  "debug": "false",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ]
}